
#contact_modal {
  display: none;
}

.sumit_button,
.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  margin: .5rem 0;
}


#contact_modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
}
.modal_content {
  width: 100vw;
  height: 100vh;
  display: flex;
  /* justify-content: center; */
  background-color: rgba(0, 0, 0, .6);
  overflow-y: scroll;
}
.modal {
  position: relative;
  border-radius: 5px;
  background-color: #db8876;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: auto;
}


.modal header {
  justify-content: center;
  width: 100%;
}

.modal header .close_modal {
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 20px;
  padding: 1rem;
  background-color: transparent;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal header .close_modal img {
  height: 20px;
}

.modal header h2 {
  text-align: center;
}
.modal header .contact_name {
  font-size: 1.8rem;
}

form, .form_footer {
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label {
  color: #312e2e;
}

form div {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

form .formData {
  display: flex;
  /* align-items: left; */
  width: 100%;
}
form .formData label {
  text-align: left !important;
  /* float: left; */
}

form input, textarea {
  width: 95%;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  padding: .5rem;
}
form textarea {
  max-height: 300px;
  min-height: 100px;
}






.formData[data-error]::after {
  content: attr(data-error);
  font-size: .8em;
  color: var(--color-error);
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: right;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
}
.formData[data-error-visible="false"]::after {
  opacity: 0;
}
.formData[data-error-visible="true"]::after {
  opacity: 1;
}
.formData[data-error-visible="true"] .text-control {
  border: 2px solid var(--color-error);
}

/* input[data-error]::after {
  content: attr(data-error);
  font-size: 0.7em;
  color: var(--color-error);
} */












@media screen and (max-width: 1024px) {
  .modal {
    width: 100vw;
    height: 100vh;
  }
}
