@import url("style.css");
@import url("modal_contact.css");

header .header_content {
  justify-content: start !important;
}

.photographer_section {
  margin: auto;
  max-width: 1400px;
}

.photographer_header {
  display: flex;
  flex: 0 0 300px;
  flex-direction: row;
  justify-content: space-between;
  padding: 2.5rem;
  margin: 3rem 2rem;
  align-items: center;
  background-color: var(--color-grey);
}
@media screen and (max-width: 1024px) {
  .photographer_header {
    flex-direction: column;
    padding: 0;
    margin: 3rem 0;
  }
}

.photographer_header :is(.photographer_infos, .contact_button, .image) {
  margin: 1rem 0;
}
.photographer_header .banner_name {
  color: var(--color-second);
}
.photographer_header .banner_city {
  font-size: 2.3rem;
  padding-bottom: 1rem;
  color: var(--color-primary);
}
/* .photographer_header .tagline {}  */
.photographer_header img {
  border-radius: 200px;
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.photographer_body {
  max-width: 1400px;
}

.photographer_body .gallery {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-around;
}

.photographer_body .gallery .card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0.3rem;
  width: 400px;
  border-radius: 8px;
}
.photographer_body .gallery :is(img, video) {
  align-self: center;
  height: 400px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
}

.photographer_body .gallery .legend {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.photographer_body .gallery .legend :nth-child(1) {
  font-size: 1.8rem;
  margin: 1rem 0;
  color: var(--color-primary);
  max-width: 80%;
}
.photographer_body .gallery .legend :nth-child(2) {
  font-size: 1.4rem;
  margin: 1rem 0;
  color: var(--color-primary);
}
.photographer_body .gallery .legend :nth-child(2) i  {
  cursor: pointer;
}






.photographer_section .totals-photographer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  bottom: 0;
  right: 2rem;
  padding: 1rem;
  font-weight: 700;
  border-radius: 8px 8px 0 0;
  background-color: var(--color-second);
}
.totals-photographer .likes, .price {
  margin: 0 1rem;
}
