@import url("style.css");

header .header_content {
  justify-content: start !important;
}

.photographer_section {
  margin: auto;
  max-width: 1400px;
}





.photographer_header {
  display: flex;
  flex: 0 0 300px;
  flex-direction: row;
  justify-content: space-between;
  padding: 2.5rem;
  margin: 3rem 2rem;
  align-items: center;
  background-color: var(--color-grey);
}

@media screen and (max-width: 1024px) {
  .photographer_header {
    flex-direction: column;
    padding: 0;
    margin: 3rem 0;
  }
}

.photographer_header :is(.infos, .contact_button, .image) {
  margin: 1rem 0;
}
.photographer_header .name {
  color: var(--color-second);
}
.photographer_header .city {
  font-size: 2.3rem;
  padding-bottom: 1rem;
  color: var(--color-primary);
}
/* .photographer_header .tagline {}  */
.photographer_header img {
  border-radius: 200px;
  height: 200px;
  width: 200px;
  object-fit: cover;
}





.photographer_body {
  max-width: 1400px;
}

.photographer_body .gallery {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-around;
}

.photographer_body .gallery .card {
  display: flex;
  flex-direction: column;
  padding: .3rem;
}
.photographer_body .gallery img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
}
.photographer_body .gallery .legend {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.photographer_body .gallery .legend :nth-child(1) {
  font-size: 1.8rem;
  margin: 1rem 0;
  color: var(--color-primary);
  max-width: 80%;
}
.photographer_body .gallery .legend :nth-child(2) {
  font-size: 1.4rem;
  margin: 1rem 0;
  color: var(--color-primary);
  
}














#contact_modal {
  display: none;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}
