
:root {
  --color-orange: #d3573c;
  --color-red: #901C1C;
}


body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.801);
}


header {
  margin: 0 auto;
  padding: .5rem;
  align-self: center;
  max-width: 1400px;
}
header .header_content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
}
.logo {
  height: 50px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}
h2 {
  margin: 1rem 0 .2rem 0;
  padding: 0;
}
p, span {
  padding: 0;
  margin: 0;
  font-size: 1.3rem;
}



main {
  display: flex;
  justify-content: center;
}
