:root {
  --color-primary: #901c1c;
  --color-second: #d3573c;
  --color-grey: #fafafa;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Sans", sans-serif;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.9);
}

header {
  margin: auto;
  padding: 0.5rem;
  max-width: 1400px;
}
header .header_content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}


.logo {
  height: 50px;
}

h1 {
  font-size: 3.5rem;
  color: var(--color-primary);
  margin: 0;
  /* margin-right: 100px; */
}
h2 {
  margin: 1rem 0 0.2rem 0;
  padding: 0;
}
p,
span {
  padding: 0;
  margin: 0;
  font-size: 1.3rem;
}

i {
  font-size: 1.3rem !important;
  /* width: 30px;
  height: 30px; */
}

div:focus,
button:focus,
a:focus,
.card:focus {
  outline: none;
  box-shadow: 0 0 0 2px white, 0 0 0 5px var(--color-primary);
}
